/***************************************
  this is for all front pages (students' pages)
**************************************/
#Page header #Top {
  position: relative;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid var(--my-gray);
  background: var(--my-white);
  z-index: 1;
}
#Page header #Top #LeftBox {
  padding: 0px 20px;
  border-right: 1px solid var(--my-gray);
  cursor: pointer;
}
#Page header #Top #Middle {
  flex: 1;
  height: 100%;
}
#Page header #Top #Middle #Search {
  white-space: nowrap;
}
#Page header #Top #Middle #Search i {
  cursor: pointer;
  font-size: 1.5em;
  padding: 0 25px;
}
#Page header #Top #Middle #Search #SeachBox {
  display: flex;
}
#Page header #Top #Middle #Search #SeachBox input {
  border: 0;
  padding-left: 16px;
  line-height: 60px;
  flex: 1;
  background: inherit;
  outline: unset;
}
#Page header #Top #Middle #Search #SeachBox a {
  text-decoration: underline;
}
#Page header #Top #Middle #Search #SeachBox i {
  margin-left: 10px;
  line-height: 70px;
  background: var(--my-dark);
  color: white;
}
#Page header #Top #Middle #Search.active {
  flex: 10;
}
#Page header #Top #Middle #LOGO {
  flex: 1;
  text-align: center;
}
#Page header #Top #Middle #LOGO img {
  max-height: 70%;
}
#Page header #Top #RightBox {
  padding: 0 20px;
  background: var(--my-cyan);
  color: var(--light);
  font-weight: 700;
}
#Page header #Top #RightBox img {
  height: auto;
  width: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#Page header #Top .btn-group .dropdown-menu a {
  line-height: 30px;
}
#Page header nav {
  position: relative;
  background: var(--my-dark);
  color: white;
  overflow: hidden;
  top: -50px;
  height: 0;
  transition: all 0.5s ease;
}
#Page header nav.active {
  top: 0;
  height: 50px;
}
#Page header nav .nav {
  line-height: 50px;
  width: 100%;
}
#Page header nav .nav li a {
  padding: 0 1rem;
}
#Page main {
  min-height: calc(100vh - 70px - 50px);
}
#Page footer {
  height: 50px;
  text-align: center;
  width: 100%;
  line-height: 50px;
  min-height: 50px;
  background: var(--my-dark);
  color: var(--my-white);
}
